html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #1c2022;
  font-family: "Nunito", sans-serif;
}

.container {
  border-left: 0.7em solid #ff01ff;
  margin-top: 3em;
  padding: 0 3em;
}

h1 {
  margin: 0;
}

.container p {
  color: #2b3337;
}

p {
  color: #9d9d9d;
  margin: 0.5em 0 2em;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.7em;
}

input[type="text"],
textarea {
  background: rgb(231, 230, 230);
  color: #9d9d9d;
  margin-bottom: 1.5em;
  display: block;
  padding: 0.5em;
  width: 80%;
  border: none;
  outline: 0;
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid #ff01ff;
}

input[type="submit"] {
  background: #ff01ff;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.8em 2em;
  border-radius: 2em;
  font-size: 0.8em;
}

.colors {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
}

.colors div {
  width: 2em;
  height: 2em;
  background: gray;
  border-radius: 50%;
  margin-bottom: 0.4em;
  margin-right: 0.3em;
  float: left;
  text-align: center;
  display: grid;
  place-content: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.colors div:nth-child(1) {
  background-color: #1c2022;
  color: white;
}

.colors div:nth-child(2) {
  background-color: #9d9d9d;
  color: white;
}

.colors div:nth-child(3) {
  background-color: #2b3337;
  color: white;
}

.colors div:nth-child(4) {
  background-color: #ff01ff;
  color: black;
}

.colors div:nth-child(5) {
  background-color: white;
  color: black;
}
