html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
  background: #5801cb;
  color: white;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 3rem;
}

.form-container {
  background: #6900f3;
  padding: 2em;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "label label"
    "submit button"
    "info info";
}

label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  grid-area: label;
  margin-bottom: 0.8em;
}

input[type="text"] {
  width: 90%;
  padding: 0.5em;
}

input[type="submit"] {
  padding: 0.5em;
  cursor: pointer;
  background: #ffed8c;
  color: #5801cb;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

p {
  grid-area: info;
  color: #d8c1f7;
}
