html,
body {
  margin: 0;
  padding: 0;
}
body {
  padding: 2em;
  background: #5801cb;
  color: white;
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-size: 3rem;
}

.form-container {
  padding: 2em;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'label label'
    'submit button'
    'info info';
}

label {
  display: block;
  font-size: 1.1em;
  grid-area: label;
  margin-bottom: 0.8em;
}
input[type='text'] {
  width: 90%;
  padding: 0.5em;
}
input[type='submit'] {
  padding: 0.5em;
  font-size: 0.8em;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
p {
  grid-area: info;
}

/* Improvements */

.form-container {
  background: #6900f3;
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

input[type='submit'] {
  font-size: 1rem;
  font-weight: bold;
  background: #ffed8c;
  color: #6900f3;
  border: none;
}

p {
  color: #caa2ff;
}
