html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

h1,
p {
  font-size: 1em;
}

h1 {
  font-size: 2rem;
  margin: 2em 0 -0.2em;
  font-family: "Montserrat", sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1em;
  margin-top: 2em;
}

.card {
  background-color: #eee;
  padding: 1.7em;
}

span {
  width: 70px;
  height: 70px;
  display: block;
  background: gray;
  border-radius: 50%;
  margin: 0 auto;
}

h1,
p,
blockquote p,
cite {
  font-family: "Montserrat", sans-serif;
}

blockquote p {
  line-height: 1.5;
  margin: 0;
}

cite {
  font-size: 0.7rem;
  font-weight: bold;
  color: #373737;
}
