html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #1f0252;
  color: white;
  font-family: "Nunito", sans-serif;
}

header {
  background: #7141c4;
  height: 2em;
}

.container {
  background-color: #3c1581;
  padding: 3em 2em 2em;
}

h1,
p {
  color: white;
}

h1 {
  margin: 0;
}

a {
  background: #feed00;
  padding: 0.5em 2.3em;
  display: inline-block;
  color: #3c1581;
  text-decoration: none;
  border-radius: 1em;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

footer {
  height: 2em;
  background: #1f0252;
}
